# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Eclipse
bin/

# IntelliJ
*.iml
*.ipr
*.iws
*.uml
.idea/
*/out/*

# Misc
*.log
*.graphml
coverage.db*
clover.license
out
.metadata
